/* Fonts */

/* NOTESSS */
/* 
position fix olmadi
after oku olmadi
play butonu olmadi

*/

/* Reset Css and Root Colors-Fonts */
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}

:root {
    --banner-color: #141518;
    --body-fonts: "Helvetica", "Arial", sans-serif;
    --menu-font: 'Courier New', Courier, monospace;
    --bg-color: #FF424D;
    --button-font-color:#fff;
    --main-font-color:#000;
}
 
 /*  */
  .container{
    margin: 10px auto;
    width: 100%;
  }

  /* Header */
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin: 5px auto;
    
  }
  /* Header Logo */
  .header .logo{
    width: 10%;
    padding: 5px;
    cursor: pointer;  
  }
  .header .logo img{
    width: 100%;
      
  }

  /*** Header Login */
  .header .login{
    display: flex;
    justify-content: right;
    width: 90%;
  }
  .header .login ul li{
    color:var(--main-font-color);
    display: inline-block;
    cursor: pointer;
  }
  .header .login ul li:not(:last-child){
    margin: 10px;
    
  }
  .header .login .loginFirstA{
    color: var(--main-font-color);
    font-weight: 500;
  }
  .header .login .loginFirstA:hover{
      text-decoration: underline;
  }
  /* Button Globals and Hover */
  .buttonGlobal{
      background: var(--bg-color);
      display: inline-block;
      padding: 8px;
      border-radius: 9999px;
      border: 1px solid transparent;
      line-height: 1.9;
      font-weight: 500;
      cursor: pointer;
  }
  .buttonGlobal a{
    color: var(--button-font-color);
  }
  /* Button Hover */
  .buttonGlobal:hover{
      background: var(--button-font-color);
      color: var(--bg-color);
      border:1px solid var(--bg-color);
  }
  .buttonGlobal a:hover{
    color: var(--bg-color);
  }

  /* Header Search */
  .header .search{
      width: 100%;
      display: inline-block;
      margin: 5px;
      padding: 5px;
  }
  .header .search .searchBorder{
      width: 100%;
      border: 1px solid rgb(232, 232, 235);
      border-radius: 15px;
      margin: 0 auto;
  }
  .header .search .searchBorder .input{
      line-height: 2px;
      padding: 5px;
      margin: 0 auto;
      width: 100%;
      background: rgb(241, 239, 239);
      border-radius: 15px;
  }
  .header .searchBorder input{
      background: rgb(240, 238, 238);
      outline: none;
      border: none;
      outline: none;
      font-weight: 500;
      padding: 2px;
      width: 90%;
      margin-left: 5px;
      border-radius: 10px;
  }
  .header .searchBorder i{
      color: rgb(153, 152, 152);
  }

  /* Banner */
  .banner{
      background: var(--banner-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
  }

  /* Banner Left Side */
  .banner .bannerLeftSide{
      width: 80%;
      margin: 50px auto;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
  }
  .banner .bannerLeftSide .bannerLeftSideHeading{
      color: var(--bg-color);
      font-size: 18px;
  }
  .banner .bannerLeftSide .bannerLeftSideHeading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
  }
  .bannerLeftSide .bannerLeftSideText{
      width: 100%;
      color: var(--button-font-color);
      margin: 25px auto;
      
  }
  .bannerLeftSide .bannerLeftSideText p{
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 35px;
  }
  .banner .bannerLeftSide .bannerLeftSideButton{
    width: 100%;
    margin: 20px auto;
  }
  .banner .bannerLeftSide .bannerLeftSideButton a{
      padding: 10px 20px ;
  }
/* bannerRightSide */
.bannerRightSide{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerRightSide .bannerRightSideVideo{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerRightSide .bannerRightSideVideo .video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.bannerRightSide .playButton{
    position: absolute;
    bottom: 10;
    

}
.fa-play-circle{
    display: inline-block;
    background: var(--bg-color);
    color: var(--button-font-color);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 21px;
    font-size: 18px;
}


/* Section */

/* Section Banner */
.section{
    width: 100%;
    margin: 0 auto;
}
.section .sectionBanner{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.section .sectionBannerHeading{
    text-align: center;
    width: 90%;
    margin: 20px auto;
}
.section .sectionBannerHeading h2{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section .sectionBannerSearch{
    width: 100%;
    margin: 20px auto;
}
.section .sectionBannerSearchInput{
    width: 100%;
    margin: 5px auto;
    padding: 15px;
    border-radius: 25px;
    background: rgb(247, 247, 247);
    outline: none;
}
.section .sectionBannerSearchInput .fa-search{
    color: rgb(145, 145, 145);
    margin-right: 10px;
    padding: 3px;
}
.section .sectionBannerSearchInput input{
    background: rgb(247, 247, 247);
    border: none;
    font-size: 20px;
}
.section .sectionBannerSearchButton{
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* Section Text */
.sectionText{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}
.sectionText .sectionTextHeading{
    letter-spacing: 2px;
    margin: 15px auto;
}
.sectionText .sectionTextDescription{
    width: 100%;
    margin: 15px auto;
}
.sectionText .sectionTextDescription p{
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 30px;
    
}

/* Section Adds */
.sectionAdds{
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}
.sectionAdds .sectionAddsPart{
    width: 100%;
    margin: 40px auto;
}
.sectionAdds .sectionAddsPart .sectionAddsPartHeading{
    width: 100%;
    margin: 10px auto;
    color: var(--bg-color);
    font-size: 23px;
}
.sectionAdds .sectionAddsPart .sectionAddsPartText{
    width: 100%;
    margin: 20px auto;
    line-height: 25px;
}
.sectionAdds .sectionAddsPart .sectionAddsPartImg{
    width: 100%;
    margin: 25px 0 0 0;
}
.sectionAdds .sectionAddsPart .sectionAddsPartImg img{
    width:100%;
}
.sectionAdds .sectionAddsPart .sectionAddsPartImgName{
    width: 100%;
    margin: 0 0 20px 0;
}

.sectionAdds .sectionAddsPart .sectionAddsPartDesc{
    width: 100%;
    margin: 15px auto;
    line-height: 25px;
}
/* footer */
.footer{
    width: 100%;
    background: var(--main-font-color);
    margin: 0 auto;
    display: flex;
}
.footer .logo{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    
}
.footer .logo img{
    width: 10%;

}
.socialMedia{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.socialMedia ul li{
    display: inline-block;
    padding: 11px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}
.socialMedia .fab{
    font-size: 22px;
    color: var(--button-font-color);
}
.socialMedia .fa-facebook-f {
    padding: 0 4px;
}
.socialMedia .fa-instagram{
    padding: 0 2px;
}

.socialMedia li:hover{
    background: rgba(255, 255, 255, 0.15);
    background: #5B5C5E;
}